.cart {
  background-color: rgb(116, 15, 15);
  padding: 1.2rem 4rem;
}

.cart_amount {
  background-color: brown;
  margin-left: 1rem;
  padding: 0.8rem 1.4rem;
  border-radius: 50%;
  font-size: 1.7rem;
  font-weight: 600;
}

.empty {
  background-color: rgb(100, 92, 92);
}

.empty .cart_amount {
  background-color: rgb(148, 118, 118);
}
