.App {
  text-align: center;
  background-color: rgb(51, 48, 48);
  height: 100vh;
  /* background-image: url(https://images.unsplash.com/photo-1555244162-803834f70033?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80); */
  /* background-size: ; */
  background-repeat: no-repeat;
}
